*,
::after,
::before {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Red hat display";
}

aside {
  width: 100%;
  position: absolute;
  float: left;
  margin: 14px 14px 14px 0px;
  padding-left: 15px;
  top: auto;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

header img {
  justify-self: center;
  margin-right: 15px;
}

article img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  object-fit: cover;
  width: 400px;
  height: 300px;
}

article img:hover {
  transform: scale(1.05);
}

figure {
  margin: 0;
}

figcaption {
  margin: 10px;
  font-weight: 900;
}

article {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 10px;
  border: 1px solid rgb(173, 173, 173);
}

article p {
  margin: 20px -10px;
}

.noResults {
  text-align: center;
}

.cartBtn {
  font-family: "Red hat display";
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  width: 40%;
  margin: auto;
  align-items: center;
  background: hsl(229, 100%, 76%);
  color: black;
  border-radius: 0.875rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  box-shadow: 5px 5px 15px 5px hsl(249deg 100% 50% / 25%);
  transition: 0.4s;
}

.cartBtn:hover {
  background-color: black;
  color: white;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 900;
}

.special {
  position: relative;
  z-index: 10;
  margin: 50px;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button > p {
  margin: 0px;
  margin-top: 15px;
}

.buttonArrow > img {
  margin: 0px;
  margin-top: 13px;
}

.buttonArrow {
  display: flex;
}

.textSpecial {
  margin: 35px;
  margin-right: 140px;
}

.pizzaSpecial {
  background-image: url(feuilledor.410934d6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 435px;
  height: 185px;
  border-radius: 12px;
  box-shadow: 8px 8px 20px rgb(65, 65, 65);
}

.pizzaSpecial > p {
  margin-left: 30px;
  color: white;
  text-shadow: 1px 0 0 rgb(109, 109, 109), -1px 0 0 rgb(110, 110, 110),
    0 1px 0 rgb(109, 109, 109), 0 -1px 0 rgb(109, 109, 109),
    1px 1px rgb(109, 109, 109), -1px -1px 0 rgb(109, 109, 109),
    1px -1px 0 rgb(109, 109, 109), -1px 1px 0 rgb(109, 109, 109);

  font-size: 25px;
}

.buttonHere {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 20px;
  color: black;
}

li a:hover {
  background-color: hsl(261, 100%, 58%);
  color: var(--lightColor);
}

.mainMenu {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.selectMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuArticle {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
}

.AllSection,
.PizzaSection,
.PastaSection,
.DessertsSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  font-family: "Red hat display";
  text-decoration: none;
  cursor: pointer;
  width: 70px;
  height: 50px;
  border-radius: 19px;
  border: none;
  margin: 0;
}

/* SHOPPING CART */

#vraiAside {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#shopping-cart-btn {
  font-size: 1rem;
  padding: 0;
  height: 65px;
  width: 130px;
  border-radius: 999px;
  margin: 0px 40px 15px;
}

#asideCache {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

#shopping-cart-section {
  background: rgba(0, 0, 0, 0.1);
  width: 350px;
}

#shopping-cart-section.disparu {
  overflow: hidden;
  width: 0px;
}

h6 {
  font-size: 0.8rem;
}

#cart-list-btns {
  display: flex;
  justify-content: space-around;
}

#total-price,
#cart-list-btns {
  padding: 5px 0px;
  margin: 10px 17px;
}

article.article-cart {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 5px 0px;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.95);
}

img.article-cart {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 10px;
}

#achats-container {
  height: 240px;
  overflow: auto;
}

/*  */

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  body {
    width: 103vw;
  }
  header {
    height: 400px;
  }
  header img {
    width: 350px;
  }

  main {
    flex-wrap: wrap;
    flex-direction: column;
  }
  section.mainMenu {
    display: flex;
    flex-direction: column;
  }
  .menuArticle {
    max-width: 720px;
    padding: 0;
    margin: auto;
  }
  article img {
    width: 100%;
  }

  .AllSection,
  .PizzaSection,
  .PastaSection,
  .DessertsSection {
    width: 100%;
  }
  #shopping-cart-btn {
    margin: 15px 0px;
  }
  #achats-container {
    height: 220px;
    overflow: auto;
  }

  .special {
    text-align: center;
  }
  .textSpecial {
    margin: 10px 0px;
  }
}

nav > ul {
  display: flex;
  flex-direction: row;
}

/* DARK/LIGHT MODE */

:root {
  --lightColor: rgb(245, 240, 240);
  --darkColor: rgba(0, 0, 0, 0.75);
}

.themeBtn {
  font-size: 0.9rem;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  background: var(--lightColor);
  color: var(--darkColor);
}

.darkTheme {
  background: var(--darkColor);
  color: var(--lightColor);
}

body.darkTheme #shopping-cart-section {
  background: rgba(0, 0, 0, 0.35);
}

body.darkTheme article.article-cart {
  background: rgba(0, 0, 0, 0.25);
}

.cartBtn.darkTheme {
  background: hsl(261, 90%, 55%);
}

.cartBtn.darkTheme:hover {
  background: white;
  color: black;
}

a.darkTheme {
  background: none;
}

/*  */

/*# sourceMappingURL=index.5952072d.css.map */
